body {
    background: linear-gradient(-45deg, #141516, #2b2e2b, #3a4535, #0d0d0d);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #forest {
 max-width: 100%;
  height: auto;
  }
  
  h1.Name {
    text-align: center;
    text-decoration: wavy;
   text
  }